.card1{
    width: 350px;
    border: 1px solid black;
}
.row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
p{
    margin-left: 25px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.container_head{
    text-align: center;
}
.container a{
    text-decoration: none;
}
.text{
    color: rgb(255, 0, 38);
}